.formulario {
    font-size: 1.5rem;
    color: #BDD473;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background-color: #006718;
    padding: 1rem;
    border-radius: 3rem;
    margin-top: 1rem;
}

.form-control:hover {
    background-color: #BDD473;
}
