ul a {
    color: white;
    padding: 1rem;
    text-decoration: none;

}

ul a:hover {
    color: #BDD473;
}
header {
    background-color: #006718;
}

.logo {
    width: 4rem;
    margin-left: 3rem;

}



.logo-inicio {
    width: 60%;
}